.heroTitleGradient {
  background: linear-gradient(to right, #384cff 0%, #485bff 54%, #4b5add 100%);
  color: black;
  /* background-color: red; */
}
.contentTitleGradient {
  background: linear-gradient(to right, #384cff 0%, #485bff 54%, #8793ff 100%);
}

.growOut {
  width: 0;
  overflow: hidden;
  animation: growOut 1s ease-out forwards;
}

@keyframes growOut {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
