.heroTitleGradient {
  background: linear-gradient(
    to right,
    #00051078 0%,
    #3443ce 54%,
    #4251e2 100%
  );
  color: black;
  /* background-color: red; */
}
.contentTitleGradient {
  background: linear-gradient(to right, #2806ff 0%, #6d7af3 50%, #2806ff 100%);
}
